<form #registerform="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h3 class="mb-3">Register</h3>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Username"
            name="username" [(ngModel)]="model.username">
        </div>
            
    </div>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <input type="password" class="form-control" placeholder="Password"
            name="password" [(ngModel)]="model.password">
        </div>
            
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success mr-2">Register</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
</form>
