<div class="row mt-4" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img class="card-img-top img-thumbnail" src="{{member.mainPhotoUrl || './assets/noimage.png'}}" alt="{{member.nickName}}">
            <div class="card-body">
                <h4 class="text-center">
                    {{member.nickName | titlecase}}
                </h4>
                <div *ngIf="member.city && member.country" >
                    <strong>Location: </strong>
                    {{member.city}}, {{member.country}}
                </div>
                <div *ngIf ="member.age">
                    <strong>Age: </strong>
                    {{member.age}}
                </div>
                <div *ngIf ="member.gender">
                    <strong>Gender: </strong>
                    {{member.gender | titlecase}}
                </div>
                <div *ngIf ="member.accountCreated">
                    <strong>Member since: </strong>
                    {{member.accountCreated}}
                </div>
                <div *ngIf ="member.lastActive">
                    <strong>Last Active: </strong>
                    {{member.lastActive}}
                </div>
                <div class="text-center mt-3" >
                    <ng-container *ngIf="member.userName != (accountService.currentUser$ | async).username">
                        <button class="btn btn-danger mr-4">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                          </button>
                          <button class="btn btn-info">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                          </button>
                    </ng-container>
                    <ng-container *ngIf="member.userName == (accountService.currentUser$ | async).username">
                          <button class="btn btn-primary" routerLink='/member/edit'>
                            Edit Profile
                          </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset>
            <tab heading="About {{member.nickName | titlecase}}" id="tab1">
                <div class="section" *ngIf ="member.bio">
                    <strong>Bio:</strong>
                    <div>{{member.bio}}</div>
                </div>
                <div class="section" *ngIf ="member.interests">
                    <strong>Interests:</strong>
                    <div>{{member.interests}}</div>
                </div>
                <div class="section" *ngIf ="member.lookingFor">
                    <strong>Looking for:</strong>
                    <div>{{member.lookingFor}}</div>
                </div>
            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]='galleryOptions' [images]='galleryImages'class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages" *ngIf="member.userName != (accountService.currentUser$ | async).username">Messages</tab>
          </tabset>
    </div>
</div>