<div *ngIf="!registerMode" class="container">
        <h1 class="cover-heading mb-2">Make new F.R.I.E.N.D.S today</h1>
        <p class="lead">Want to make new friends? Find a date? </p>
        <p class="lead">You are at the right place. Register using the button below! </p>
        <p class="lead">
          <a href="#" (click)="toggleRegisterMode()" class="btn btn-lg btn-primary mr-3">Register</a>
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
</div>
<div *ngIf="registerMode" class="container">
    <app-user-register (cancelRegisterEE) ="cancelRegister($event)"></app-user-register>
</div>
