<ng-container>
    <button (click)='test400Error()' type="button" class="btn btn-outline-primary">Test 400</button>
    <button (click)='test401Error()' type="button" class="btn btn-outline-primary">Test 401</button>
    <button (click)='test404Error()' type="button" class="btn btn-outline-primary">Test 404</button>
    <button (click)='test500Error()' type="button" class="btn btn-outline-primary">Test 500</button>
    <button (click)='test400ValidationError()' type="button" class="btn btn-outline-primary">Test 400 Validation Error</button>
</ng-container>